nav.navbar {
    #menu-icon {
        border: 2px solid rgba(255, 255, 255, .7);
        border-radius: 50%;
        height: 3.5em;
        margin-bottom: 1em;
        width: 3.5em;
        z-index: 100;

        i.fa-cog {
            color: rgba(255, 255, 255, .7) !important;
            font-size: xx-large;
        }
    }
    #controls-container {
        background-color: #5a5a5a;
        border-top: 1px solid rgba(255, 255, 255, .2);
        bottom: 0;
        left: 0;
        padding: 1em;
        position: fixed;
        width: 100%;
        z-index: 0;

        #controls {
            justify-content: space-around;

            div.flex-column {
                align-items: center;
                justify-content: space-around;
                height: 250px;
                width: 70px;

                h4 {
                    order: 3;
                    font-size: 20px;
                    font-weight: 200;
                    letter-spacing: 0.15rem;
                    text-transform: uppercase;
                }

                h2 {
                    color: #00ffff !important;
                    font-size: 20px;
                    font-weight: 800;
                    margin-left: 0px !important;
                    order: 1;
                }

                input[type="range"] {
                    order: 2;
                    transform: rotate(-90deg);
                    width: 8rem;
                }
            }
        }
    }
}
